/* checkbox Page*/

.checkboxOuterContainer{
    display:flex;
    
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: rgb(232, 228, 228);
  }
  
.checkboxInnerContainer{
    display:flex;
    border-radius:20px;
    border-color: red;
    background: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width:60%;
}
  
  .checkboxImageContainer{
    min-height:80%;
    width: 25rem;
   
    border-radius: 20px 0 0 20px;
   
   
  }
  
  .imageTwo{
      width: 100%;
    min-height:100%;
    border-radius: 20px 0 0 20px;
  
  }
  
  /* right section in checkbox*/
  .checkboxRightSide{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width:65%;
    align-items:center;
    
  
  }
  
  .signupNav{
    display:flex;
    justify-content: space-around;
    width:65%;
    margin-bottom:2.5rem;
    padding-bottom:1rem;
    border-bottom: 2px solid lightgray;
  }
  
  #backgroundBlue{
    background-color: rgb(12,117,255);
  }
  
  
  .number{
    display:inline-block;
    padding: 10px;
    margin:5px;
    background-color: rgb(249, 249, 251);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  
    border-radius: 6px;
  }
  
  .stepCounter{ 
    padding-bottom: 10px;
  }
  
  .checkboxHeadingsContainer{
    width:65%;
  }
  .checkboxHeading{
    font-weight: 800;
  }


  /* Hiding Radio buttons */
  .checkboxRadioInput { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.checkboxButtons{
  cursor: pointer;
  padding:1rem;
  height: 60px;
  width:100%;
}

.checkboxRadioInput:checked + .checkboxButtons{
    color:rgb(31,96,199);
    background:rgb(236,243,254);
    border: 2px solid rgb(31,96,199);
    border-radius: 8px;
}

.radioButtonLabels{
  width:50%;
  width: 45%;
  display: flex;
  justify-content: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

.checkboxButtonContainer{
  width:65%;
  display:flex;
  margin-top: 2rem;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 2rem;
  

}

.checkboxPara{
  color: black;
  padding-left:10px;
  
}

.checkboxLabel{
  width:65%;
  margin-left: 18%;
  align-self: flex-start;
  padding-top:1rem;
}

.checkboxLabel:hover{
  cursor: pointer;
}

[type=checkbox]:checked +span{
  color:blue;
}

.borderBottom{
  padding-bottom: 3rem;
 
}

.checkboxButtonsContainer{
  display:flex;
  width:65%;
  justify-content: flex-end;
  border-top: 2px solid lightgray;
}

.checkboxButtonTwo{
  margin-top: 1.5rem;
  width:20%;
  height: 40px;
  
  background-color: rgb(12,117,255);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 5px;
  border:none;
  color:white;
}
.checkboxBackButton:hover,.checkboxButtonTwo:hover{
  cursor:pointer;
}

.checkboxBackButton{
  height: 40px;
  margin-top: 1.5rem;
  border-radius: 5px;
  border:none;
  width:20%;
  color:black;
  margin-right: 10px;
  background-color: rgb(249, 249, 251);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.checkbox{
  border-radius: 15px;
}

@media(max-width:1675px){
  .checkboxInnerContainer{
    width:80%;
  }
}

@media(max-width:1265px){
  .checkboxInnerContainer{
    width:90%;
  }
}

@media(max-width:1118px){
  .checkboxRightSide{
    width:90%;
  }
  .checkboxButtonsContainer{
    margin-bottom: 10px;
  }
}

@media(max-width:900px){
  .checkboxRightSide{
    width:100%
  }
  .checkboxButtonTwo,.checkboxBackButton{
    width:50%;
  }
}