/* Message Page*/
.messageOuterContainer{
    display:flex;
    
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: rgb(232, 228, 228);
  }
  
.messageInnerContainer{
    display:flex;
    border-radius:20px;
    border-color: red;
    background: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width:60%;
}
  
  .messageImageContainer{
    min-height:80%;
    width: 25rem;
   
    border-radius: 20px 0 0 20px;
   
   
  }
  
  .imageTwo{
      width: 100%;
    min-height:100%;
    border-radius: 20px 0 0 20px;
  
  }
  
  /* right section in message*/
  .messageRightSide{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width:65%;
    align-items:center;
    
  
  }
  
  .signupNav{
    display:flex;
    justify-content: space-around;
    width:65%;
    margin-bottom:2.5rem;
    padding-bottom:1rem;
    border-bottom: 2px solid lightgray;
  }
  
  #backgroundBlue{
    background-color: rgb(12,117,255);
  }
  
  
  .number{
    display:inline-block;
    padding: 10px;
    margin:5px;
    background-color: rgb(249, 249, 251);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  
    border-radius: 6px;
  }
  
  .stepCounter{ 
    padding-bottom: 10px;
  }
  
  .messageHeadingsContainer{
    width:65%;
  }
  .messageHeading{
    font-weight: 800;
  }
  
  
  .messageForm{
    width:65%;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }

  .flexColumnLabel{
    display:flex;
    flex-direction: column;
    padding-top: 25px;
    font-size:15px;
  }

  .messageTextArea{
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    margin-top: 0.8rem;
    height: 8rem;
   
  }
  
  .radioButtonContainer{
    width:65%;
    display:flex;
    padding-top: 2rem;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 2rem;
    border-bottom: 2px solid lightgray;
  
  }

  .radioButtons{
    margin-right: 7px;
  }

.buttonContainer{
  display:flex;
  width:65%;
  justify-content: flex-end;
}

  .buttonTwo{
    margin-top: 1.5rem;
    width:20%;
    height: 40px;
    
    background-color: rgb(12,117,255);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 5px;
    border:none;
    color:white;
  }
  
  
  .backButton{
    height: 40px;
    margin-top: 1.5rem;
    border-radius: 5px;
    border:none;
    width:20%;
    color:black;
    margin-right: 10px;
    background-color: rgb(249, 249, 251);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  .buttonTwo:hover, .backButton:hover{
    cursor:pointer;
  }

  .radioButtons:hover{
    cursor: pointer;
  }

  .cursorPointer:hover{
    cursor: pointer;
  }

  
@media(max-width:1675px){
  .messageInnerContainer{
    width:80%;
  }
}

@media(max-width:1265px){
  .messageInnerContainer{
    width:90%;
  }
}

@media(max-width:1143px){
  .paddingBottom{
    padding-bottom: 10px;
  }
}

@media(max-width:1118px){
  .messageRightSide{
    width:90%;
  }
  .buttonContainer{
    margin-bottom: 10px;
  }
  .signupNav{
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
    padding-top: 10px;
  }
}

@media(max-width:675px){
  .buttonTwo,.backButton{
    width:50%;
  }
  .messageTextArea{
    width:100%;
  }
}
