.signupNav{
    display:flex;
    justify-content: space-around;
    width:65%;
    margin-bottom:2.5rem;
    padding-bottom:1rem;
    border-bottom: 2px solid lightgray;
  }
  .number{
    display:inline-block;
    padding: 10px;
    margin:5px;
    background-color: rgb(214, 223, 234);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  
    border-radius: 6px;
  }
  
  
#backgroundBlue{
    background-color: rgb(12,117,255);
  }


  .show{
      display:inline-block;
      background-color: rgb(214, 223, 234);
      color:rgb(12,117,255);
      padding: 10px;
      margin:5px;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      border-radius: 6px;
  }
  .hide{
      display: none;
  }

  .flexbox{
      display:flex;
      align-items: center;
  }