*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

/* Signup Page*/
.outerContainer{
  display:flex;
  
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: rgb(232, 228, 228);
}

.innerContainer{
  display:flex;
  border-radius:20px;
  background: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width:60%;
}

.signupImageContainer{
  min-height:80%;
  width: 25rem;
 
  border-radius: 20px 0 0 20px;
 
 
}

.imageOne{
    width: 100%;
  min-height:100%;
  border-radius: 20px 0 0 20px;

}

/* right section in nav*/
.signupRightSide{
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  width:65%;
  align-items:center;
  

}





.stepCounter{ 
  padding-bottom: 10px;
}

.signupHeadingsContainer{
  width:65%;
}
.signupHeading{
  font-weight: 800;
}


.signupForm{
  width:65%;
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  
}
.firstRowForm,.secondRowForm{
  width:100%;
  display:flex;
  padding-top: 1rem;
  justify-content: space-between;
  flex-wrap: wrap;

}

.flexColumn{
  display:flex;
  flex-direction: column;
  padding-top: 10px;
  font-size:15px;
}

.address{
  padding-top: 1rem;
  padding-bottom:2rem;
  border-bottom: 2px solid lightgray;
}

.buttonOne{
  margin-top: 1.5rem;
  width:20%;
  height: 40px;
  align-self: flex-end;
  background-color: rgb(12,117,255);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 5px;
  border:none;
  color:white;
}

.buttonOne:hover{
  cursor:pointer;
}

.inputField,
.inputFieldAddress{
  border-radius: 5px;
  border:1px solid lightgray;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  height: 30px;
  padding-left: 10px;
  margin-top:5px;
}



.inputFieldDob{
  border-radius: 5px;
  border:1px solid lightgray;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  height: 30px;

  margin-top:5px;
  width:170%;
  background-color:rgb(248, 241, 241) ;
}

.inputField:hover{
  cursor:text;
 
}

.inputField:focus, .inputFieldDob:focus, .inputFieldAddress:focus{
  border-color: blue;
}



.lastName:hover,.inputFieldDob:hover{
  cursor:pointer
}
.inputFieldAddress:hover{
  cursor:pointer
}

.error{
  color: red;
  font-size: 10px;
}

.redBorder, .redBorder:focus{
  border: 1px solid red;
}

@media(max-width:1675px){
  .innerContainer{
    width:80%;
  }
}

@media(max-width:1265px){
  .innerContainer{
    width:90%;
  }
}

@media(max-width:1118px){
  .signupRightSide{
    width:90%;
  }
}

@media(max-width: 1027px){
  .secondRowForm{
    flex-direction: column;
  }
  .inputFieldDob{
    width:100%;
  }
  .inputField{
    width:100%;
  }
  .firstName,.lastName,.address{
    width:100%;
  }
  .buttonOne{
    align-self: center;
    margin-bottom: 10px;
    width:100%;
  }
  .signupNav{
    padding-top: 10px;
  }
}
